
# Ignore build artifacts and virtual environment
build
install
venv

# Ignore profile data and output files
*.prof
*.data
data/*subsampled*
*.out

# Python cache
__pycache__/
*.pyc

# Editor/OS files
.DS_Store
.vscode/
perf.data*
